body{
    background-image: url(./images/GOT-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
 
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.login_header img {
    width: 100px;
}

.login_header h1 {
    color: black;
    font-size: 1.5em;
}

.login_input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
    outline: none;
    padding: 15px;
}

.login_buttom {
    background-color: #f71f02;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    max-width: 300px;

}

.login_buttom:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
